.container-fluid {
  background-color: rgba(42, 52, 54, 0);
  padding-top: 35px;
}

th, th a {
  font-size: 20px;
  color: white;
}

.about-btn {
  text-decoration: none;
  outline: none;
  display: inline-block;
  width: 140px;
  height: 45px;
  line-height: 47px;
  border: 1px solid white;
  border-radius: 45px;
  margin: 10px 20px;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  text-align: center;
  font-weight: 600;
  color: white;
  background: none;
  box-shadow: 0 8px 15px rgba(0,0,0,.1);
  transition: background-color 0.3s ease;
}

.special.about-btn  {
  background-color: #2d3436;
}

.about-btn:hover {
  background-color: white;
  color: black !important;
}



a:hover {
  cursor: pointer;
  text-decoration: none;
}


.prev, .next {
  position: fixed;
  height:100%;
  top: 0px;
  width: 8%;
  border-radius: 0px;
  color: white;
  z-index: -1;
}

.prev.special, .next.special {
  color: black;
}

button:active {
  outline: none !important;
}

.prev:hover, .next:hover {
  background-color: rgba(228,228,228,0.15);
  color: #a6c1ee;
}

.prev {
  left: 0px;
}

.next {
  right: 0px;
}

.models {
  width: 100%;
  position: absolute;
  height: 80%;
  z-index: -2;
  padding: 0px;
}

.bottom-block {
  margin-bottom: 5px;
  z-index: -1;
  font-size: 15px;
}

.about-block {
  color: #ededed;
  transition: color 0.3s ease;
}

.about-block.special{
  color: black;
}

.about-block a {
  color: #ededed;
  text-decoration: underline;
  transition: color 0.3s ease;
}

.special.about-block a {
  color: black;
  text-decoration: underline;
}

.about-block a:hover {
  text-decoration: none;
}